body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.main-page{
    background:linear-gradient(45deg,#000044,#24246a,#2980b9);
    height: 100vh;
    width: 100vw;
  }


header {
    background-color: #ffffff;
    color: #000044;
    text-align: center;
    padding: 5px 0;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 10 10 10px rgba(255, 255, 255, 0.5);
}

.password-form label,
.password-list h2 {
    color: #333;
}

.password-form {
    margin-bottom: 20px;
}

input[type="text"],input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button#add-password {
    background-color: #24246a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.copy-button,
.delete-button {
    background-color: #000044;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.copy-button:hover,
.delete-button:hover {
    background-color: #000044;
}